.split-grid-gutter-column {
    grid-row: 1/-1;
    cursor: col-resize;
}

.split-grid-gutter-row {
    grid-column: 1/-1;
    cursor: row-resize;
}

.split-grid-gutter.disabled {
    pointer-events: none;
}
