@inherits SplitGridComponentBase
@inject IJSRuntime JsRuntime

<div @ref="Element" class="@Classes" style="@Styles" id="@Id">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
