@using Microsoft.Extensions.Logging
@inherits SplitGridComponentBase
@inject IJSRuntime JsRuntime
@inject ILogger<SplitGrid> Logger

<div @ref="Element" class="@Classes" style="@Styles" id="@Id">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
